extends layout
 
block content
    .w3-container.w3-center
      h1.w3-jumbo.w3-text-black
        b Serviço de email
      .w3-container.w3-border.w3-display-middle.w3-green
        form.w3-container(action='/toLogin', method='GET')
          input.w3-button.w3-xxxlarge(type= 'submit', value= 'Clique aqui')
